body{
    text-align: center;
}

.staggered-list li{
    opacity: 0;
}

#logo{
    width: 30%;
    height: 30%;
}

#name{
    font-weight: 200;
    font-size: 5em;
}

.carousel-item .responsive-img{
    width: 30%;
    height: 30%;
}